.presentacion {
  background-image: url("../assets/img/fondo1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* .header {
  font-size: 1.5rem;
} */

.imgNavBar {
  height: 35px;
  width: auto;
}

.navbar[data-bs-theme="dark"] {
  --bs-navbar-toggler-border-color: rgba(243, 228, 16, 0.705);
}

[data-bs-theme="dark"] .navbar-toggler-icon {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28243, 228, 16, 0.85%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='5' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
